<div class="footer">

    <div class="quick-links">
        <h1>QUICK LINKS</h1>
        <div class="line"></div>

        <a href="">Home</a>
        <a href="">About</a>
        <a href="">News</a>
        <a href="">Events</a>
        <a href="">Joining Form</a>
        <a href="">Constitution</a>
        <a href="">Community Intervention</a>
        <a href="">Upcoming Funerals</a>
        <a href="">Contact</a>
    </div>
    <div class="find-us">
        <h1> FIND US</h1>
        <div class="line"></div>
        <p>And the web just isn't the same without you. Let's get you back online!</p>
    </div>
</div>
