.about{
    background-color: rgba(190, 196, 199, 0.78);
    margin: 0px; 
    padding: 0px 20px 0px ;
    border-radius: 20px;
     
    
}
h1{
    text-align: center;
    padding:10px 0px ;
    font-size: 20px;
}

 
 